#brushButton{
    -fx-background-image: url("../imgs/brush3.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 55 55;
    -fx-background-position: center center;
}
#eraserButton{
    -fx-background-image: url("../imgs/eraser.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 55 55;
    -fx-background-position: center center;


}

#thicknessButton{
 -fx-background-image: url("../imgs/thickness.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 55 55;
    -fx-background-position: center center;




}
#logo{
-fx-background-image: url("../imgs/logo1.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100 100;
    -fx-background-position: center center;

}